---
extends: default

rules:
  line-length:
    max: 120
  comments-indentation: disable
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  indentation:
    spaces: 2
  key-duplicates: enable
  new-line-at-end-of-file: enable
  trailing-spaces: enable

ignore: |
  .git/
  .github/
  node_modules/
  *.tar.gz